<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<form action="/shop/items/spec" method="get">
    <div>
        <label for="page">Page:</label>
        <input type="number" id="page" name="p" value="1">
    </div>
    <div>
        <label for="min_price">Minimum Price:</label>
        <input type="number" id="min_price" name="min_price">
    </div>
    <div>
        <label for="max_price">Maximum Price:</label>
        <input type="number" id="max_price" name="max_price">
    </div>
    <div>
        <label for="name_part">Name Part:</label>
        <input type="text" id="name_part" name="name_part">
    </div>
    <div>
        <label for="category_name">Category Name:</label>
        <select id="category_name" name="category_name">
            <option value="">-- Select Category --</option>
            <option th:each="category : ${T(boraldan.entitymicro.shop.entity.category.CategoryName).values()}"
                    th:value="${category}" th:text="${category}"></option>
        </select>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>

<h1>Items</h1>
<div th:if="${items}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>price</th>
            <th>Category</th>
            <th>Item</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}">ID</td>
            <td th:text="${item.title}">title</td>
            <td th:text="${item.price.getBasePrice()}">price</td>
            <td th:text="${item.category.categoryName}">CategoryName</td>
            <!--                        <td>-->
            <!--                            <a th:href="@{/shop/item(itemId=${item.id}, itemClassName=${item.itemClazz.getName()})}">Show item</a>-->
            <!--                        </td>-->
            <td>
                <form th:action="@{/shop/item}" th:method="GET">
                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                    <input type="hidden" name="itemClassName" th:value="${item.itemClazz.getName()}"/>
                    <input type="submit" value="Show item"/>
                </form>
            </td>
            <td>
                <form th:action="@{/shop/item/delete{itemId}(itemId=${item.id})}" th:method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>