<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<form action="#" th:action="@{/catalog}" th:object="${category}" th:method="POST">
    <div>
        <label for="categoryName">Category Name:</label>
        <select id="categoryName" name="categoryName">
            <option th:each="name : ${T(boraldan.entitymicro.shop.entity.category.CategoryName).values()}"
                    th:value="${name}" th:text="${name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Get Category Item</button>
    </div>
</form>

<h1>Items</h1>
<div th:if="${items}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>price</th>
            <th>Category</th>
            <th>Storage</th>
            <th>Show Item</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.getId()}">ID</td>
            <td th:text="${item.getTitle()}">title</td>
            <td th:text="${item.getPrice().getCustomPrice()}">price</td>
            <td th:text="${item.getCategory().getCategoryName()}">CategoryName</td>
            <!--                        <td>-->
            <!--                            <a th:href="@{/shop/item(itemId=${item.id}, itemClassName=${item.itemClazz.getName()})}">Show item</a>-->
            <!--                        </td>-->
            <td th:text="${item.getStorage().getQuantity()}">Storage</td>
            <td>
                <form th:action="@{/shop/item}" th:method="GET">
                    <input type="hidden" name="itemId" th:value="${item.getId()}"/>
                    <input type="hidden" name="itemClassName" th:value="${item.getItemClazz().getName()}"/>
                    <input type="submit" value="Show item"/>
                </form>
            </td>
            <td>
                <form th:action="@{/shop/item/delete{itemId}(itemId=${item.getId()})}" th:method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
