<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/pagination.css}" rel="stylesheet" type="text/css"/>
    <title>Category</title>
</head>
<body>
<form th:action="@{/shop/items/spec}" th:method="GET">
    <div>
        <input type="hidden" id="page" name="page" value="1">
    </div>
    <div>
        <label for="page_size">Page Size:</label>
        <select id="page_size" name="page_size">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div>
        <label for="min_price">Minimum Price:</label>
        <input type="number" id="min_price" name="min_price" th:value="${spec.minPrice}">
    </div>
    <div>
        <label for="max_price">Maximum Price:</label>
        <input type="number" id="max_price" name="max_price" th:value="${spec.maxPrice}">
    </div>
    <div>
        <label for="name_part">Name Part:</label>
        <input type="text" id="name_part" name="name_part" th:value="${spec.partName}">
    </div>
    <div>
        <label for="category_name">Category Name:</label>
        <select id="category_name" name="category_name">
            <option value="">-- Select Category --</option>
            <option th:each="category : ${T(boraldan.entitymicro.shop.entity.category.CategoryName).values()}"
                    th:value="${category}" th:text="${category}"></option>
        </select>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>

<h1>Items</h1>
<div th:if="${items.hasContent()}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>price</th>
            <th>Category</th>
            <th>Storage</th>
            <th>Item</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}">ID</td>
            <td th:text="${item.title}">Title</td>
            <td th:text="${item.price.customPrice}">Price</td>
            <td th:text="${item.category.categoryName}">CategoryName</td>
            <td th:text="${item.storage.quantity}">Storage</td>
            <td>
                <form th:action="@{/shop/item}" th:method="GET">
                    <input type="hidden" name="itemId" th:value="${item.id}"/>
                    <input type="hidden" name="itemClassName" th:value="${item.itemClazz.name}"/>
                    <input type="submit" value="Show item"/>
                </form>
            </td>
            <td>
                <form th:action="@{/shop/item/delete{itemId}(itemId=${item.id})}" th:method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${items.totalPages > 1}">
    <ul class="pagination">
        <li th:each="pageNumber : ${#numbers.sequence(1, items.totalPages)}"
            th:class="${items.number + 1 == pageNumber ? 'page-item active' : 'page-item'}">
            <a class="page-link" th:href="@{/shop/items/spec(
                                    page=${pageNumber},
                                    page_size=${items.size},
                                    min_price=${spec.minPrice} ,
                                    max_price=${spec.maxPrice},
                                    name_part=${spec.partName},
                                    category_name=${spec.categoryName})}" th:text="${pageNumber}"></a>
        </li>
    </ul>
</div>

</body>
</html>