<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}">ID</td>
        <td th:text="${item.name}">Name</td>
        <td th:text="${item.description}">Description</td>
        <td th:text="${item.category.name}">Category</td>
    </tr>
    </tbody>
</table>
</body>
</html>
