<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
<h1>Item Details</h1>
<div th:if="${item}">
    <h3 th:text="${'Title:' + item.getTitle()}"></h3>
    <div th:each="fieldName : ${fieldNames}">
        <p th:text="${fieldName}"></p>
    </div>
    <h3 th:text="${'Price:' +  item.getPrice().getBasePrice()}"></h3>
    <h3 th:text="${'Storage: ' + item.getStorage().getQuantity()}"></h3>
</div>
</body>
</html>

